.processcube/nodered/flows.json
[
    {
        "id": "4a5484c44fd92283",
        "type": "tab",
        "label": "Html to Text",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "efcace170d0f887c",
        "type": "tab",
        "label": "Email sender",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fd4bdf33d0253f6a",
        "type": "processcube-html-to-text",
        "z": "4a5484c44fd92283",
        "name": "",
        "x": 350,
        "y": 180,
        "wires": [
            [
                "29d4a47c27dcee43"
            ]
        ]
    },
    {
        "id": "a5e0536ea05cc094",
        "type": "inject",
        "z": "4a5484c44fd92283",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "<!DOCTYPE html> <html lang=\"de\">   <head>     <meta charset=\"UTF-8\" />     <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />     <title>Beispiel HTML E-Mail</title>     <style>       body {         font-family: Arial, sans-serif;         background-color: #f4f4f4;         margin: 0;         padding: 0;       }       .email-container {         background-color: #ffffff;         margin: 40px auto;         padding: 20px;         width: 100%;         max-width: 600px;         border-radius: 6px;         box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);       }       h1 {         color: #333333;       }       p {         color: #555555;         line-height: 1.5;       }       .button {         display: inline-block;         padding: 12px 24px;         margin-top: 20px;         background-color: #007bff;         color: #ffffff;         text-decoration: none;         border-radius: 4px;       }       .footer {         text-align: center;         margin-top: 40px;         font-size: 12px;         color: #999999;       }     </style>   </head>   <body>     <div class=\"email-container\">       <h1>Willkommen bei unserem Newsletter!</h1>       <p",
        "payloadType": "str",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "fd4bdf33d0253f6a"
            ]
        ]
    },
    {
        "id": "29d4a47c27dcee43",
        "type": "debug",
        "z": "4a5484c44fd92283",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 180,
        "wires": []
    },
    {
        "id": "7be89384c1b95ac1",
        "type": "inject",
        "z": "efcace170d0f887c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "9f7dfdb7f34fa92b"
            ]
        ]
    },
    {
        "id": "c246681d350609e4",
        "type": "debug",
        "z": "efcace170d0f887c",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 120,
        "wires": []
    },
    {
        "id": "9f7dfdb7f34fa92b",
        "type": "email-sender",
        "z": "efcace170d0f887c",
        "name": "",
        "email": "",
        "smtp": "",
        "x": 350,
        "y": 120,
        "wires": [
            [
                "c246681d350609e4"
            ]
        ]
    }
]